<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>

<body>

<h1>{{ welcome }}</h1>


<script>
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/blogApp/investigate');
    xhr.onload = function (data) {
        console.log(xhr)
    };
    xhr.send();

    var xhr1 = new XMLHttpRequest();
    xhr1.open('POST', '/blogApp/train_ticket');
    xhr1.onload = function (data) {
        console.log(xhr1)
    };
    xhr1.send();

    var xhr2 = new XMLHttpRequest();
    xhr2.open('POST', '/blogApp/flight');
    xhr2.onload = function (data) {
        console.log(xhr2)
    };
    xhr2.send();
</script>


</body>
</html>
